.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding-top: 100px; /* Space for navbar */
}

.projects-container h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  background: linear-gradient(90deg, #ff6b6b, #4ecdc4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Press Start 2P', cursive;
}

.projects-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.project-item {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  background-color: rgb(14, 13, 13);
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #4ecdc4;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.project-description {
  color: rgb(255, 253, 253);
  line-height: 1.8;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.1rem;
  height: 150px;
  overflow: auto;
}

.project-btn-link {
  display: block;
  text-decoration: none;
  text-align: center;
}

.project-btn {
  background: linear-gradient(90deg, #ff6b6b, #4ecdc4);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.project-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive styles */
@media (max-width: 768px) {
  .projects-content {
    flex-direction: column;
  }
  
  .projects-container {
    padding: 1rem;
    padding-top: 80px;
  }
  
  .project-title {
    font-size: 1.4rem;
  }
  
  .project-description {
    font-size: 1rem;
    height: auto;
    
  }
  
  .project-btn {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
}